{% extends 'base.html' %}
{% load static %}
{%block content %}

	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="#">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="#">Cart</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>PRODUCT</th>
								<th>NAME</th>
								<th class="text-center">UNIT PRICE</th>
								<th class="text-center">QUANTITY</th>
								<th class="text-center">TOTAL</th>
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
						{% for item in cart %}
							<tr id="product_cart">
								<td class="image" data-title="No"><img src="{{ item.product.images.first.image.url }}" alt="#"></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="#">{{ item.product }}</a></p>
									<p class="product-des">{{ item.product.short_descriptions }}</p>
								</td>
								<td class="price" data-title="Price"><span>${{ item.price }}</span></td>
								<td class="qty" data-title="Qty"><!-- Input Order -->
									<div class="input-group">
										<input type="text" name="quant[1]" id="cart_value" class="input-number"  data-min="1" data-max="9" value="{{ item.quantity }}" attr_id="{{item.product.pk}}" action_url="{% url 'cart:cart_update' %}" attr_value="{{ item.quantity }}">
									</div>
									<!--/ End Input Order -->
								</td>
								<td class="total-amount" data-title="Total"><span>${{ item.total_price }}</span></td>
								<td class="action" data-title="Remove"><a href="{% url 'cart:cart_remove' item.product.id %}"><i class="ti-trash remove-icon"></i></a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<h6>you can update your product quantity .</h6>
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul>
										<li>Cart Subtotal<span>${{ cart.get_total_price }}</span></li>
										<li>Shipping<span>Free</span></li>
										<li class="last">You Pay<span>${{ cart.get_total_price }}</span></li>
									</ul>
									<div class="button5">
										<a href="{% url 'cart:cart' %}" class="btn">Update Cart</a>
										<a href="{% url 'orders:create' %}" class="btn">Next</a>
										<a href="{% url 'shop:shop' %}" class="btn">Continue shopping</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->

	<!-- Start Shop Services Area  -->
	<section class="shop-services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Free shiping</h4>
						<p>Orders over $100</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Free Return</h4>
						<p>Within 30 days returns</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Sucure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Best Peice</h4>
						<p>Guaranteed price</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->


{% endblock %}
{% block footer %}
<script src="{% static 'cart/js/active.js' %}"></script>
<script src="{% static 'frontend/js/jquery.cookie.min.js' %}"></script>
{% endblock%}