{% extends 'base.html' %}
{% load static %}
{%block content %}
	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="left">
									<h6>if you have any coupons, please enter them here :</h6><br>
									<div class="coupon">
										<form action="{% url 'orders:coupon_apply' order.id %}" method="post">
											{% csrf_token %}
											{{ form.code }}
											<button class="btn">Apply</button>
										</form>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="right">
									<ul>
										<li>Cart Subtotal<span>${{ order.get_total_without_discount }}</span></li>
										<li>Shipping<span>Free</span></li>
										<li>You Save<span>
											${{ price_dis }}
											</span></li>
										<li class="last">You Pay<span>${{ order.get_total_price }}</span></li>
									</ul>
									<div class="button5">
										<a href="{% url 'checkout:checkout' %}" class="btn">Next</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->

{%endblock%}