{% extends 'base.html' %}
{% load static %}
{%block content %}
<style>
	body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}

</style>
<div class="container" style="margin-top:70px;margin-bottom:70px">
    <div class="row gutters">
        <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-12">
            <div class="card-box text-center">
                <img src="{{ request.user.profile.image.url}}"
                     class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">
                <h4 class="mb-0">{{request.user.full_name}}</h4>
                <p class="text-muted">{{request.user.email}}</p>
                <br>
                <label class="btn">
                    <i class="ti-upload"></i> Upload New photo
                    {{ form.image }}
                </label>
                <br>
                <br>
                <br>
                <div class="about">
                    <h5 class="mb-2 text-primary">About</h5>
                    <p>{{request.user.profile.bio}}</p>
                </div>
            </div>
            <hr class="border-light m-0">
            <div class="pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action" href="{% url 'accounts:profile' request.user.id %}">General</a>
                    <a class="list-group-item list-group-item-action active" data-toggle="list"
                       href="#account-change-password">Change password</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="account-change-password">
                    <form method="post" id="change-password">
                        {% csrf_token %}
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-2 text-primary">Password</h6>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Current password</label>
                                            {{form.old_password}}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>New password</label>
                                            {{form.new_password1}}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Repeat new password</label>
                                            {{form.new_password2}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-right mt-3">
                <button type="submit" class="btn btn-primary" form="change-password">Save changes</button>
                <a type="button" href="{% url 'company:home' %}" class="btn btn-default">Back To Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}