{% extends 'base.html' %}
{%block content %}
<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h2>Hi there 😊!</h2>
            </div>
            <div class="section-title">
                            I'm a fairly new frontend developer and need so many helps - If I create a custom component
            for a select element, how do I know I have just the right aria attributes to help and not overthrow a user
            with greater accessibility needs? or: - What is the reason why a component behaves buggy? That is, sometimes
            it is not visible even though it should, and reload if the page helps? All this and much more, are things I
            would have liked to ask someone about. After ex. number of concussions, I have a hard time delving too much
            into documentation, and sometimes youtube does not have the answer. So, are you a genius who knows
            "everything" in your field? Who loves "HOW" more than "IF" just like me? Can you imagine having a
            troublesome and inquisitive person in your network, who sometimes comes up with strange thoughts? Then I
            really want you to add me! I'm interested and curious in most things about Javascript / Typescript,
            Python,Django, HTML, CSS, UX and well, anything that comes with it. So, if you feel hit, add me! Or does
            anyone know who would be a perfect ballpark and who likes to share knowledge, so feel free to share! What
            can I add? Probably not so much, more than that I am insanely grateful, eager, and maybe one fine day can
            help you with other knowledge I have picked up along the way. All the best, Athena<div style="color:red">#javascript #frontend #css
                #html #ui #ux</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}