{% extends 'base.html' %}
{% load static %}
{% load filters %}
{%block content %}
<!-- Start Area  -->
<section class="hero-area2">
    <div class="home-slider">
        {% for product in products|featured%}
        <!-- Start Single Slider -->
        <div class="single-slider overlay" style="background-image:url({{product.images.first.image.url}});">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="sub-title">{{product.category.first}}</p>
                            <h4 class="title">{{product.name}}</h4>
                            <p class="des">{{product.short_descriptions}}</p>
                            <div class="button">
                                <a href="{{product.get_absolute_url}}" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        {% endfor %}
    </div>
</section>
<!--/ End Hero Area -->

<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Item</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="nav-main">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for category in categories%}
                            {% if forloop.first %}
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#{{category.name}}" role="tab">{{category.name}}</a></li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#{{category.name}}" role="tab">{{category.name}}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <!--/ End Tab Nav -->
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        {% for category in categories %}

                            {% if forloop.first %}
                            <div class="tab-pane fade show active" id="{{category.name}}" role="tabpanel">
                                <div class="tab-single">
                                    <div class="row">
                                        {%for product in category.products.all%}
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                            <div class="single-product">
                            <div class="product-img">
                                <a href="{{product.get_absolute_url}}">
                                    <img class="default-img" src="{{product.images.first.image.url}}" alt="#">
                                    {% if product.tag %}
                                        <span class="{{product.tag}}">{{product.get_tag_display}}</span>
                                    {% endif %}
                                </a>
                                <div class="button-head">
                                    <div class="product-action">
                                        <a data-toggle="modal" data-target="#exampleModal" title="View Product" href="{{product.get_absolute_url}}"><i class=" ti-eye"></i><span>View Product</span></a>
                                        {% if user.is_authenticated %}
                                        {% if product.pk in wishlisted_list %}
                                        <span id="like" attr_id="{{product.pk}}" class="ti-heart-broken" title="Remove From Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
                                        {% else %}
                                        <span id="like" attr_id="{{product.pk}}" class="ti-heart " title="Add To Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
                                        {% endif %}
                                        {% endif %}
                                    </div>

                                    <div class="product-action-2">
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post" id="cart-form">
                                            {% csrf_token %}
                                            <a title="Add to cart" href="javascript:{}" onclick="document.getElementById('cart-form').submit();">Add to cart</a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="{{product.get_absolute_url}}">{{product.name}}</a></h3>
                                <div class="product-price">
                                    {% if product.discount_price %}
                                        <span class="old">${{product.price}}</span>
                                        <span>${{product.discount_price}}</span>
                                    {% else %}
                                        <span>${{product.price}}</span>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="tab-pane fade show" id="{{category.name}}" role="tabpanel">
                                <div class="tab-single">
                                    <div class="row">
                                        {%for product in category.products.all%}
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                            <div class="single-product">
                            <div class="product-img">
                                <a href="{{product.get_absolute_url}}">
                                    <img class="default-img" src="{{product.images.first.image.url}}" alt="#">
                                    {% if product.tag %}
                                        <span class="{{product.tag}}">{{product.get_tag_display}}</span>
                                    {% endif %}
                                </a>
                                <div class="button-head">
                                    <div class="product-action">
                                        <a data-toggle="modal" data-target="#exampleModal" title="View Product" href="{{product.get_absolute_url}}"><i class=" ti-eye"></i><span>View Product</span></a>
                                        {% if user.is_authenticated %}
                                        {% if product.pk in wishlisted_list %}
                                        <span id="like" attr_id="{{product.pk}}" class="ti-heart-broken" title="Remove From Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
                                        {% else %}
                                        <span id="like" attr_id="{{product.pk}}" class="ti-heart " title="Add To Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
                                        {% endif %}
                                        {% endif %}
                                    </div>

                                    <div class="product-action-2">
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post" id="cart-form">
                                            {% csrf_token %}
                                            <a title="Add to cart" href="javascript:{}" onclick="document.getElementById('cart-form').submit();">Add to cart</a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="{{product.get_absolute_url}}">{{product.name}}</a></h3>
                                <div class="product-price">
                                    {% if product.discount_price %}
                                        <span class="old">${{product.price}}</span>
                                        <span>${{product.discount_price}}</span>
                                    {% else %}
                                        <span>${{product.price}}</span>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <!--/ End Single Tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Area -->

<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Free shiping</h4>
                    <p>Orders over $100</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Free Return</h4>
                    <p>Within 30 days returns</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Sucure Payment</h4>
                    <p>100% secure payment</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Best Peice</h4>
                    <p>Guaranteed price</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<!-- Start Most Popular -->
<div class="product-area most-popular section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Hot Item</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="{% static 'frontend/images/products/p1.jpg' %}" alt="#">
                                <img class="hover-img" src="{% static 'frontend/images/products/p2.jpg' %}" alt="#">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                            <div class="product-price">
                                <span class="old">$60.00</span>
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="{% static 'frontend/images/products/p1.jpg' %}" alt="#">
                                <img class="hover-img" src="{% static 'frontend/images/products/p2.jpg' %}" alt="#">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                            <div class="product-price">
                                <span class="old">$60.00</span>
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="{% static 'frontend/images/products/p1.jpg' %}" alt="#">
                                <img class="hover-img" src="{% static 'frontend/images/products/p2.jpg' %}" alt="#">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                            <div class="product-price">
                                <span class="old">$60.00</span>
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="{% static 'frontend/images/products/p1.jpg' %}" alt="#">
                                <img class="hover-img" src="{% static 'frontend/images/products/p2.jpg' %}" alt="#">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                            <div class="product-price">
                                <span class="old">$60.00</span>
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Newsletter</h4>
                        <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Your email address" required="" type="email">
                            <button class="btn">Subscribe</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Newsletter -->
{% endblock %}
{% block footer %}
<script src="{% static 'shop/js/like.js' %}"></script>
<script src="{% static 'frontend/js/jquery.cookie.min.js' %}"></script>

{% endblock%}