{% extends 'base.html' %}
{% load static %}
{%block content %}
<!-- Start Area  -->
<section class="hero-area2">
    <div class="home-slider">
        <!-- Start Single Slider -->
        <div class="single-slider overlay" style="background-image:url({% static 'frontend/images/slider/slider-1.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="sub-title">Women's Clothing</p>
                            <h4 class="title">Mega sale up to 50% off for all</h4>
                            <p class="des">Giordanr Shirt is the best design of Artist Alex Goot. You should got it for your style</p>
                            <div class="button">
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider overlay" style="background-image:url({% static 'frontend/images/slider/slider-2.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="sub-title">man's collection</p>
                            <h4 class="title">Giordanor <br> Shirt</h4>
                            <p class="des">Giordanr Shirt is the best design of Artist Alex Goot. You should got it for your style</p>
                            <div class="button">
                                <a href="#" class="btn">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider overlay" style="background-image:url({% static 'frontend/images/slider/slider-3.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="sub-title">man's collection</p>
                            <h4 class="title">Mega sale up to 50% off</h4>
                            <p class="des">Giordanr Shirt is the best design of Artist Alex Goot. You should got it for your style</p>
                            <div class="button">
                                <a href="#" class="btn">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider overlay" style="background-image:url({% static 'frontend/images/slider/slider-4.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="sub-title">man's collection</p>
                            <h4 class="title">Mega sale up to 70% off</h4>
                            <p class="des">Giordanr Shirt is the best design of Artist Alex Goot. You should got it for your style</p>
                            <div class="button">
                                <a href="#" class="btn">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider overlay" style="background-image:url({% static 'frontend/images/slider/slider-5.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <p class="sub-title">Accessories</p>
                            <h4 class="title">Black sunglasses <br> for men</h4>
                            <p class="des">Giordanr Shirt is the best design of Artist Alex Goot. You should got it for your style</p>
                            <div class="button">
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
    </div>
</section>
<!--/ End Hero Area -->
{% endblock %}