{% extends 'base.html' %}
{% load static %}
{% block header %}
<!-- Flex Slider CSS -->
<link rel="stylesheet" href="{% static 'frontend/css/flex-slider.min.css' %}">
{% endblock %}
{%block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="{% url 'company:home'%}">Home<i class="ti-arrow-right"></i></a></li>
                        <li><a href="{% url 'shop:shop'%}">Shop<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Product Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Shop Single -->
<section class="shop single section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <!-- Product Slider -->
                        <div class="product-gallery">
                            <!-- Images slider -->
                            <div class="flexslider-thumbnails">
                                <ul class="slides">
                                    {% for slider in product.images.all %}
                                    <li data-thumb="{{slider.image.url}}">
                                        <img src="{{slider.image.url}}" alt="#">
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- End Images slider -->
                        </div>
                        <!-- End Product slider -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="product-des">
                            <!-- Description -->
                            <div class="short">
                                <h4>{{product.name}}</h4>
                                <p class="price">
                                    {% if product.discount_price %}
                                    <span class="discount">${{product.discount_price}}</span>
                                    <s>${{product.price}}</s>
                                    {% else %}
                                    <span>${{product.price}}</span>
                                    {% endif %}
                                </p>
                                <p class="description">{{product.short_descriptions}}</p>
                            </div>
                            <!--/ End Description -->

                            <!-- Product Buy -->
                            <div class="product-buy">
                                <div class="quantity">
                                    <h6>Quantity :</h6>
                                    <!-- Input Order -->
                                    <div class="input-group">
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post" id="cart-form">
                                            {% csrf_token %}
                                            {{form.quantity}}
                                        </form>
                                    </div>
                                    <!--/ End Input Order -->
                                </div>
                                <div class="add-to-cart">
                                    <button form="cart-form" class="btn">Add to cart</button>
                                        {% if user.is_authenticated %}
                                        {% if product.pk in wishlisted_list %}
                                        <button class="btn min">
                                        <span id="like" attr_id="{{product.pk}}" class="ti-heart-broken" title="Remove From Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
                                        </button>
                                        {% else %}
                                        <button class="btn min">
                                        <span id="like" attr_id="{{product.pk}}" class="ti-heart " title="Add To Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
                                        </button>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                <p class="cat">Category :
                                    {% for cat in product.category.all %}
                                    <a href="{{cat.get_absolute_url}}">
                                        {{cat.name}}
                                    </a></p>
                                {% endfor %}
                                <p class="availability">Availability : {{product.quantity}} Products In Stock</p>
                            </div>
                            <!--/ End Product Buy -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-info">
                            <div class="nav-main">
                                <!-- Tab Nav -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                            href="#description" role="tab">Description</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews"
                                                            role="tab">Reviews</a></li>
                                </ul>
                                <!--/ End Tab Nav -->
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <!-- Description Tab -->
                                <div class="tab-pane fade show active" id="description" role="tabpanel">
                                    <div class="tab-single">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="single-des">
                                                    <p>{{product.descriptions}}</p>
                                                </div>
                                                <div class="single-des">
                                                    <h4>Product Features:</h4>
                                                    <ul>
                                                    {% for feature in product.features.all %}
                                                        <li>{{feature.text}}</li>
                                                    {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Description Tab -->
                                <!-- Reviews Tab -->
                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <div class="tab-single review-panel">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ratting-main">
                                                    <div class="avg-ratting">
                                                        <span>Based on 1 Comments</span>
                                                    </div>
                                                    {% for rev in review%}
                                                        <!-- Single Rating -->
                                                        <div class="single-rating">
                                                            <div class="rating-author">
                                                                <img src="{% static 'frontend/images/products/p1.jpg' %}"
                                                                     alt="#">
                                                            </div>
                                                            <div class="rating-des">
                                                                <h6>{{rev.user}}</h6>
                                                                <p>{{rev.text}}</p>
                                                            </div>
                                                        </div>
                                                        <!--/ End Single Rating -->
                                                    {% endfor %}
                                                </div>

                                                <!-- Review -->
                                                <div class="comment-review">
                                                    <div class="add-review">
                                                        <h5>Add A Review</h5>
                                                        <p>Your name and your comment will be published. Required fields are
                                                            marked</p>
                                                    </div>
                                                </div>
                                                <!--/ End Review -->
                                                {% if request.user.is_authenticated%}
                                                <!-- Form -->
                                                <form class="form" method="post" action="#">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-12">
                                                            <div class="form-group">
                                                                <label>Your Name<span>*</span></label>
                                                                <input type="text" name="name" required="required"
                                                                       placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-12">
                                                            <div class="form-group">
                                                                <label>Write a review<span>*</span></label>
                                                                <textarea name="message" rows="6"
                                                                          placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-12">
                                                            <div class="form-group button5">
                                                                <button type="submit" class="btn">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!--/ End Form -->
                                                {% else %}
                                                 <div class="comment-review">
                                                    <div class="add-review">
                                                        <span>You must <a href="{% url 'accounts:login' %}" class="text-danger">"login"</a> before adding comments.</span>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Reviews Tab -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Shop Single -->

<!-- Start Most Popular -->
<div class="product-area most-popular related-product section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    {% for product in related_products%}
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="{{product.get_absolute_url}}">
                                <img class="default-img" src="{{product.images.first.image.url}}" alt="#">
                                <span class="{{product.tag}}">{{product.get_tag_display}}</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                        <a data-toggle="modal" data-target="#exampleModal" title="View Product" href="{{product.get_absolute_url}}"><i class=" ti-eye"></i><span>View Product</span></a>
                                        {% if user.is_authenticated %}
                                        {% if product.pk in wishlisted_list %}
                                        <span id="like" attr_id="{{product.pk}}" class="ti-heart-broken" title="Remove From Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
                                        {% else %}
                                        <span id="like" attr_id="{{product.pk}}" class="ti-heart " title="Add To Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
                                        {% endif %}
                                        {% endif %}
                            </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="{{product.get_absolute_url}}">{{product.name}}</a></h3>
                            <div class="product-price">
                                {% if product.discount_price %}
                                    <span class="old">${{product.price}}</span>
                                    <span>${{product.discount_price}}</span>
                                {% else %}
                                    <span>${{product.price}}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->

{% endblock %}
{% block footer %}
<!-- Flex Slider JS -->
<script src="{% static 'frontend/js/flex-slider.js' %}"></script>
<script src="{% static 'frontend/js/nicesellect.js' %}"></script>
<script src="{% static 'shop/js/active.js' %}"></script>
<script src="{% static 'shop/js/like.js' %}"></script>
<script src="{% static 'frontend/js/jquery.cookie.min.js' %}"></script>
{% endblock%}