{% extends 'base.html' %}
{% load static %}
{%block content %}

	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="{% url 'company:home'%}">Home<i class="ti-arrow-right"></i></a></li>
							<li><a href="{% url 'shop:shop' %}">Shop<i class="ti-arrow-right"></i></a></li>
							<li class="active">Wishlist</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Shopping Cart -->
	{% if wishlist %}
	{% for product in wishlist %}
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>PRODUCT</th>
								<th>NAME</th>
								<th class="text-center">UNIT PRICE</th>
								<th class="text-center">VIEW PRODUCT</th>
								<th class="text-center">REMOVE</th>
							</tr>
						</thead>
						<tbody>
							<tr id="remove">
								<td class="image" data-title="No"><img src="{{product.product.images.first.image.url}}" alt="#"></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="{{product.product.get_absolute_url}}">{{product.product.name}}</a></p>
									<p class="product-des">{{product.product.short_descriptions}}</p>
								</td>
								<td class="price" data-title="Price"><span>
									{% if product.product.discount_price %}
                                        ${{product.product.discount_price}}
                                    {% else %}
                                        ${{product.product.price}}
                                    {% endif %} </span></td>
								<td class="total-amount"><a href="{{product.product.get_absolute_url}}"><i class="ti-eye remove-icon"></i></a></td>
								<td class="action" data-title="Remove"><button>
									<span id="like" attr_id="{{product.product.pk}}" class="ti-trash remove-icon" title="Remove From Wishlist" action_url="{% url 'shop:add_to_wishlist' %}"></span>
								</button></td>
							</tr>
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>

		</div>
	</div>
    {% endfor %}
    {% else %}
    <div class="container"  style="margin-top:100px">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Your Wishlist is empty...!</h2>
                </div>
				<div class="section-title">
					<h6><a style="color:red" href="{% url 'shop:shop'%}">Go to Shop <i class="ti-arrow-right"></i></a>
					</h6>
				</div>
            </div>
        </div>
	</div>
    {% endif %}
	<!--/ End Shopping Cart -->
{% endblock %}
{% block footer %}
<script src="{% static 'shop/js/like.js' %}"></script>
<script src="{% static 'frontend/js/jquery.cookie.min.js' %}"></script>
{% endblock%}