{% load static %}
<!-- Jquery -->
<script src="{% static 'frontend/js/jquery.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery-migrate-3.0.0.js' %}"></script>
<script src="{% static 'frontend/js/jquery-ui.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'frontend/js/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<!-- Slicknav JS -->
<script src="{% static 'frontend/js/slicknav.min.js' %}"></script>
<!-- Owl Carousel JS -->
<script src="{% static 'frontend/js/owl-carousel.js' %}"></script>

<!-- Active JS -->
<script src="{% static 'frontend/js/active.js' %}"></script>